<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8>
    <title>Help</title>
    </style>
</head>

<body>
    <h1>Help</h1>
    <p>Or not?</p>
    <p>{{yeah}}</p>

    {{> footer}}
</body>

</html>