<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8>
    <title>Help</title>
    </style>
</head>

<body>
    {{> nav}}

    <h1>Projects</h1>

    {{#each projects}}
    <p>{{title}}: {{body}}</p>
    {{/each}}

    {{> footer}}
</body>

</html>